$primary-color: #F5F6F7;
$contrast-color: #e2e2e2;
$secondary-color: #292929;

body {
  background-color: $contrast-color;
  color: $secondary-color;
  margin: 0;
}

.App {
  text-align: center;
}

.photo_background {
  display: block;
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url("/background.jpg");
  height: 300px;
  background-size: cover;

  transition: all 1s ease-in-out;
  animation-name: fade-in-content;
  animation-duration: 1s;
  animation-fill-mode: forwards; // Stay on the last frame
  animation-iteration-count: 1; // Run only once
  animation-timing-function: linear;
}

.logo {
    margin-top: 0;
    margin-bottom: 4em;
}

svg {
  margin-top: 100px;
  -webkit-filter: drop-shadow( 5px 5px 5px #000 );
  filter: drop-shadow( 5px 5px 6px #000 );
  
  path {
    stroke-width: 2;
    fill-opacity: 0;
    fill: #F5F6F7;
    stroke: #F5F6F7;
    stroke-dasharray: 870;
    stroke-dashoffset: 870;
    stroke-linecap: round;
    animation-name: draw;
    animation-duration: 4s;
    animation-fill-mode: forwards; // Stay on the last frame
    animation-iteration-count: 1; // Run only once
    animation-timing-function: linear;
    transition: all 2s ease-in-out;
 }

}

.heading {
  font-weight: 400;
  margin-top: 40px;
  color: $secondary-color;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }

  0% {
    fill-opacity: 0;
  }

  60% {
    fill-opacity: 0;
  }

  70% {
    fill-opacity: 0.5;
  }

  100% {
    fill-opacity: 1;
  }

}

.content {
  font-family: sans-serif;
  font-size: 1.5em;
  transition: all 1s ease-in-out;
  animation-name: fade-in-content;
  animation-duration: 1s;
  animation-fill-mode: forwards; // Stay on the last frame
  animation-iteration-count: 1; // Run only once
  animation-timing-function: linear;
  text-align: center;

  h1 {
    font-size: 1em;
  }

}

.topp_overskrift {
  font-family: "Lora";
  font-style: italic;
  font-size: 2rem;
}

.ingress-wrapper {
  display: inline-block;
  width: 100%;
  background-color: $primary-color;
}

.ingress {
  display: inline-block;
  max-width: 800px;
  padding: 1em;

  color: $secondary-color;
  font-weight: 100;
}

.container {
  display: flex;
  font-size: 18px;
  font-weight: normal;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}

@media screen and (max-width: 690px) {
  .container {
    flex-direction: column;
  }
}

.panel {
  background-color: $primary-color;
  color: $secondary-color;
  flex-grow: 1;
  text-align: left;
  padding: 20px 20px 50px 20px;
  margin: 15px;
  text-decoration: none;
  border: 4px solid $primary-color;
  position: relative;

  &.gjennomsiktig {
    background-color: $contrast-color;
    border: 4px solid $contrast-color;
  }

  .panel_icon {
    width: 70px;
  }
}

.sentrert {
  text-align: center;
}

a.panel {
  transition: all 200ms;
}

a.panel:hover {
  border: 4px solid #ff8c00;

  .caretRight {
    margin-left: 10px;
  }

}

.caretWrapper {
  display: block;
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0px;
}

.caretRight {
  display: inline-block;
  background: url("/caret_right.gif");
  background-size: contain;
  height: 15px;
  width: 15px;
  margin-left: 0px;
  transition: all 200ms;
}

a {
  color: $secondary-color;
  transition: all 100ms;
}

//a:hover {
//  color: darken($primary-color, 10);
//}

@keyframes fade-in-content {

  0% {
    opacity: 0;
  }

  70% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }

}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
